@use "../utils" as *;

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "subscription why";

  box-shadow: 0px 14px 27px rgba(152, 166, 189, 0.41), 0px 1.75302px 3.38082px rgba(152, 166, 189, 0.205);
  border-radius: rem(8) rem(8) rem(8) rem(8);

  .header {
    grid-area: header;
  }

  .subscription {
    grid-area: subscription;
  }

  .why {
    grid-area: why;
  }

  @include breakpoint-max(sm) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "subscription"
      "why";
    margin: rem(70) rem(30);
  }
}
